<!-- <code>
  [htmlAttribute]="TS property name" ts to html
  (angularEvent)="function name()" html to ts
  use any one at a time
</code> -->
  <!-- <h1>{{ title }} is running!</h1>
location:<input type="text" [(ngModel)]="location"/>
city:<input type="text" [(ngModel)]="city"/>
state:<input type="text" [(ngModel)]="state"/>
country:<input type="text" [(ngModel)]="country"/>
rating:<input type="text" [(ngModel)]="rating"/>
<button (click)="onCLickButton(location,city,state,country,rating)">Update</button>

   <h1>
     Welcome to {{location}} in {{city}}, {{state}}, {{country}} and its rating is {{rating}}.
   </h1>
   <app-login></app-login>
   <app-registration></app-registration>
   <app-if></app-if>
   <br>
   <app-for></app-for> -->
   <!-- <app-movie></app-movie> -->
   <!-- <app-switch></app-switch> -->
   <!-- <app-built-in-pipe></app-built-in-pipe> -->
   <!-- <h3>{{"Ramya Bijja"|reverse}}</h3> -->
<!-- 
   <input type="text" [(ngModel)]="Name"/><span class='text-danger'>
      {{Name | validate}}</span> -->

      <!-- <app-listen></app-listen> -->
      <!-- <app-viewtransaction></app-viewtransaction> -->
      <!-- <app-http-promise></app-http-promise> -->
      <app-httpobservable></app-httpobservable>