<button (click)="PostCall()">Click</button>
<br>
{{status}}
<!-- <table border="2">
    <tr>
        <td>Transaction ID</td>
        <td>Debited Account</td>
        <td>Credited Account</td>
        <td>Date of Transfer</td>
        <td>Amount</td>
    </tr>
    <tr> -->
<!-- <h3 *ngFor="let item of myProp"></h3> -->
<!--     
        <td>{{item.tid}}</td>
        <td>{{item.fromaccno}}</td>
        <td>{{item.toaccno}}</td>
        <td>{{item.date}}</td>
        <td>{{item.amttransfer}}</td></h3>
    </tr> -->
        <!-- {{item.tid}}<br>{{item.fromaccno}}<br>{{item.toaccno}}<br>{{item.date}}<br>{{item.amttransfer}}<hr> -->
    <!-- {{item.userId}}<br>{{item.id}}<br>{{item.title}}<br>{{item.body}}       -->

<!-- </table> -->